{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "eslint-config-airbnb"
  ],

  "parserOptions": {
    "sourceType": "module"
  },

  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },

  "rules": {
    "keyword-spacing": 2
  },
  "settings": {
    "react": {
      "version": "detect" // React version. "detect" automatically picks the version you have installed.
    }
  }
}
